
  .formsearch{
    display:flex;
    flex-direction: row;
  }
 .formsearch input{
    margin-top:7px;
    padding:0 20px;
    width: 50vw;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  @media (max-width: 768px){
    .formsearch {
        display:none;
    }
  }